$red-dark: #AB0E12;
$red-normal: #E42B2F;
$red-light: #FA3C41;

$white-dark: #DCE1E8;
$white-normal: #EBEEF2;
$white-light: #F8FBFF;

$black-dark: #0A0C10;
$black-normal: #14181F;
$black-light: #272A31;


$gray-1: #444649;
$gray-2: #5D6063;
$gray-3: #787A7E;
$gray-4: #929498;
$gray-5: #ABADB0;
$gray-6: #C4C6C8;

$gradient-1: linear-gradient(0deg, #EA1D22 0%, rgba(234, 29, 34, 0) 100%);
$gradient-2: linear-gradient(180deg, #B21317 0%, #8E1514 100%);
$gradient-3: linear-gradient(225deg, #272A31 0%, #0B0D11 100%);